@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #56565A;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1200px;
}

a {
	text-decoration: none;
	color: #fff;
	padding: 12px 40px;
	background-color: #0A467E;
	width: 142px;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	transition: .2s;
}

a:hover {
	background-color: #0e569a;
}

img {
	width: 30px;
	height: 30px;
}

/* ===================================================================== */

.conditions {
	padding: 60px 20px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}

.conditions__plan {
	display: flex;
	flex-direction: column;
}

.conditions__plan h2 {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 36px;
	line-height: 38px;
}

.conditions__plan p {
	padding: 15px 0 30px 0;
	max-width: 470px;
	font-size: 16px;
	line-height: 22px;
}

.plan__box-link {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
}

.card-list__card-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	flex-wrap: wrap;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 22px;
	gap: 10px;
	background-color: #F7F7F7;
	border: 1px solid #EDEDED;
	border-radius: 5px;

	position: relative;
}

.item::after {
	position: absolute;
	content: '';
	width: 170px;
	top: 135px;
	border: 1px solid #E5E5E5;
	background-color: #E5E5E5;
}

.item h3 {
	padding: 10px 0 30px 0;
	max-width: 179px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.item p {
	max-width: 220px;
	line-height: 19px;
	text-align: center;
}

.card-item_1 {
	grid-row: span 1/1;
}

.card-item_2 {
	grid-row: span 1/2;
}

.card-item_3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 22px;
	width: 100%;
	background-color: #F7F7F7;
	border: 1px solid #EDEDED;
	border-radius: 5px;

	grid-row: span 2/2;
	justify-content: center;
	position: relative;
}

.card-item_3::after {
	position: absolute;
	content: '';
	width: 170px;
	border: 1px solid #E5E5E5;
	background-color: #E5E5E5;
}

.card-item_3 h3 {
	max-width: 226px;
	padding: 10px 0 30px 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.card-item_3 p {
	max-width: 270px;
	line-height: 19px;
	text-align: center;
}